.article {
    background-color: var(--nav-btn-color);
    border: 3px solid var(--nav-btn-border);
    margin-top: 25px;
    min-height: 200px;
    min-width: 600px;
    padding: 1rem;
    align-items: center;
    
}